<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppTestingGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBFE9EDF1F1D025200E15ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBFE9EF31F1D025200E15ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBFE9EFE1F1D025200E15ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
